// filepath: /Users/senie/code/88valleys/TokyoScene/app/assets/stylesheets/config/_variables.scss

// Colors
$primary-color: #6f2b75;
$secondary-color: #100303;
$background-color: #f8f9fa;
$text-color: #333;

// Fonts
$body-font: 'Inter', sans-serif;
$headers-font: 'Roboto', sans-serif;

// Spacing
$spacing-unit: 1rem;

// Border Radius
$small-radius: 0.25rem;
$large-radius: 0.5rem;
