<div class="container p-3">
  <h1><i class="fa-solid fa-comment"></i> Gig Chats</h1>
  <hr>
  <p class="lead">
    Meet people heading to the same show.<br>
    Talk plans, share hype, or just say hey.<br>
  </p>
  <div class="chat-event-card-container scrollable-container">
    <%= render partial: 'chats', collection: @chatrooms, as: :chat %>
  </div>
</div>
