
<div class="card-product">
  
  <div class="card-product-infos">

    <p>
    <strong>Artist:</strong>
    <%= registration.gig.name %>
    </p>

    <p>
    <strong>Description:</strong>
    <%= registration.gig.description %>
    </p>

    <p>
    <strong>Location:</strong>
    <%= registration.gig.location %>
    </p>

    <p>
    <strong>Date:</strong>
    <%= registration.gig.time %>
    </p>

  </div>

</div>

