<h1>You Are Registered!</h1>



<div class="cards pb-4">
        <%= render partial: 'card', collection: @registrations, as: :registration %>
</div>


<%= link_to "Back to Search", root_path, class: "btn btn-flat" %>

<%= link_to "See All My Registered Gigs", dashboard_path, class: "btn btn-secondary" %> 