<div class="map-container">
  <%# PLACEHOLDER FOR SEARCHBAR - Erika you can add your html for your searchbar in _search.html.erb!! %>
  <%= render 'gigs/search' %>
  <%# Added filter as a partial here %>
  <%= render 'gigs/filter' %>
  <%# Added the map as a partial here %>
  <%= render 'gigs/map' %>
</div>
