.welcome-section {
  // background-color: #030e27;
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 5px;
  // color: #E0E0E0;
  font-weight: bold;
}

.filter-buttons {
  font-size: 13px;
  padding: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  color: black;
  border-radius: 20px;
  margin-bottom: 0px;
  border-bottom: 1px solid #ccc;
  background: white;
}

.filter-buttons:last-child {
  margin-bottom: 0; 
  border-bottom: none; 
}

.upcoming-gigs {
  padding-left: 20px;
  padding-right: 20px;
  // padding-top: 20px;  
  // background-color: #1c2639;

  h2 {
    // color: #E0E0E0;
  }

  .filter .dropdown .btn {
    font-size: 5px;
    border-radius: 20px;
    margin: 5px;
  }
}

.recommended-spotify {
  padding-left: 20px;
    padding-right: 20px;
    padding-top: 19px;
    padding-bottom: 20px;
    // background-color: #1c2639;
    // color: #E0E0E0;
}

.favorite-genres {
  padding-left: 20px;
    padding-right: 20px;
    padding-top: 19px;
    padding-bottom: 20px;
    // background-color: #1c2639;
    // color: #E0E0E0;
}

.favorite-artists {
  padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    // background-color: #1c2639;
    // color: #E0E0E0;

  
    .btn-add-artist {
      background-color: #e1c5e2;
      border: none;
      color: #495057;
      padding: 3px 11px;
      font-size: 20px;
      border-top-right-radius: 20px;
      border-bottom-right-radius: 20px;
    }
  
}


.dashboard-gig-card-container {
    margin-bottom: 20px; 
  }

  a {
    text-decoration: none;
  }

  .dashboard-gig-card {
    display: flex;
    background-color: white;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 400px;
    height: 151px;
        align-items: center;
  }

  .dashboard-gig-image-section {
    flex: 0 0 160px; 
  }

  .dashboard-gig-image-section img {
    // margin-top: -22px;
    // margin-left: -13px;
    // margin-bottom: -19px;
    object-fit: cover;
  }

  .dashboard-gig-info-section {
    padding: 0 15px;
    flex-grow: 1;
  }

  .dashboard-gig-date-time {
    font-size: 14px;
    color: #666;
    margin: 0;
  }

  .dashboard-gig-title {
    font-size: 18px;
    font-weight: bold;
    color: #000;
    margin: 5px 0;
  }

  .dashboard-gig-location {
    font-size: 14px;
    color: #000;
    display: flex;
    align-items: center;
  }

  .location-icon {
    width: 12px;
    height: 12px;
    // background-image: url('location-icon.png');
    background-size: cover;
    margin-right: 5px;
  }

  .dashboard-gig-buttons-section {
    display: flex;
    // flex-direction: column;
    // justify-content: space-around;
    // padding: 15px;
  }

  .scrollable-container {
    max-height: calc(4 * 200px); /* Adjust 200px to the approximate height of one card */
    overflow-y: auto;
  }

  .icon-button {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background-color: #B75AFF;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-button.ticket {
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .icon-button.info {
    background-size: 24px;
    background-position: center;
    background-repeat: no-repeat;
  }

  .no-underline-link {
    text-decoration: none;
  }

  .white-icon {
    color: white;
  }
