

.map-container {
    flex-grow: 1;
    position: relative;
    max-height: 90px;
}

.mapbox {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.gig-cards-container {
    margin-top: auto;
    padding: 20px;
    background-color: #f8f9fa; /* Optional: Add a background color */
}
