.modal-body img {
    width: 100%;
    height: 500px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}
.modal-body {
    padding-bottom: 0;
}
.already-registered {
    margin-top: 0;
    margin-bottom: 5px;
}