.navbar li a {
  color: #f7f7f7;
}

.navbar-tokyoscene {
  justify-content: space-between;
  background: #100303;
}

.navbar-tokyoscene .navbar-collapse {
  flex-grow: 0;
}

.navbar-tokyoscene .navbar-brand img {
  width: 200px;
}
