.navbar li a {
  color: #fff;
}

.nav-item:hover {
  background-color: #6f2b75;
  color: #100303;
  border-radius: 5px;
  padding: 5px 10px;
}

.navbar-tokyoscene {
  position: sticky;
  top: 0;
  z-index: 1000;
  justify-content: space-between;
  background: #100303;
}

.navbar-tokyoscene .navbar-collapse {
  flex-grow: 0;
}

.navbar-tokyoscene .navbar-brand img {
  width: 200px;
}

@media (max-width: 767px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .user-icon-container li a {
    align-self: flex-end;
    color: black;
  }
}

.dropdown-menu {
  background-color: #100303;
}
