// Search bar CSS goes here!

.search-bar {
    display: flex;
    height: 4rem;
    width: 360px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
    border-radius: 100px;

    // Displays above the map
  }

  .search-bar-container {
    position: absolute;
    z-index: 1;
    gap: 1rem;
    padding: 0.5rem 0 0 0.5rem;
  }


.filter-bar {
  display: flex;
  justify-content: space-between;
  width: 360px;
  // Displays above the map
}

.form-control {
  background: #E0C4E2;
  border: none;  // Remove border
  outline: none; // Remove outline
  // search bar left side round
  border-top-left-radius: 150px;
  border-bottom-left-radius: 150px;
}

.search-bar .btn {
  background: #E0C4E2;
  //  search bar right side round
  border-top-right-radius: 100px;
  border-bottom-right-radius: 100px;
}

.search-form-control .form-control {
  height: 3.5rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
}

.search-form-control .form-control:focus {
  outline: none !important;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
