<div class="card-product row">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="col-2"/>
  <div class="card-product-infos col-5">
    <div>
      <strong>Name:</strong> <%= gig.name %>
    </div>
    <div>
      <strong>Description:</strong> <%= gig.description %>
    </div>
    <div>
      <strong>Date:</strong> <%= gig.time %>
    </div>
    <div>
      <strong>Location:</strong> <%= gig.location %>
    </div>
  </div>
  <div class="col-3">
    <a href="registration-page.html" class="card-registration-button">Register</a>
    <a href="details-page.html" class="card-details-button">Info</a>
  </div>
</div>