<div class="card-product row">
  <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg" class="col-2"/>
  <div class="card-product-infos col-5">
    <div class="pb-2">
      <%#  Turns the time into a Day, Date, Month, Year format %>
      <%= gig.time.strftime("%A, %d %B %Y") %>
    </div>
    <div class="pb-2">
      <h4><%= gig.name %></h4>
    </div>
    <div>
      <strong><i class="fa-solid fa-location-dot"></i></strong> <%= gig.location %>
    </div>
  </div>
  <div class="col-3">
    <%#  %>
    <%= link_to "<i class='fa-solid fa-ticket'></i>".html_safe, new_gig_registration_path(gig), class: 'btn btn-flat' %>
    <div>
      <%# TODO: Get the gigs/show page %>
      <a href="details-page.html" class="btn btn-flat"><i class="fa-solid fa-circle-info"></i> </a></div>
  </div>
</div>