<div class="footer">
  <%= link_to root_path, class: "nav-item" do %>
        <i class="fas fa-home"></i>
        <span class="nav-text">home</span>
  <% end %>
    <a href="#" class="nav-item">
        <i class="fa-solid fa-heart"></i>
        <span class="nav-text">faves</span>
    </a>
    <a href="#" class="nav-item">
        <i class="fa-solid fa-calendar"></i>
        <span class="nav-text">events</span>
    </a>
    <a href="#" class="nav-item">
        <i class="fa-solid fa-comments"></i>
        <span class="nav-text">chats</span>
    </a>
    <a href="#" class="nav-item">
        <i class="fa-solid fa-circle-user"></i>
        <span class="nav-text">dashboard</span>
    </a>
</div>